.imgTshirt {
   position: relative; 
}

.memeText {
    position: absolute;
    top: 190px;
    left: 210px;
}

.memeText img {
    max-width: 300px;
    border: #fff solid 0px;
}

.memeText p {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 38px;
    color: #fff;
}

.lowerText p {
    margin-top: 10px; 
}

.tshirt-color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tshirt-color img {
    width: 15%;
    height: 15%;    
}
/*
@media screen {
  .btn-project {
    font-size: 1.5vw;
    width: 15vw;
  }
} */      