html, body {
  background-color: aliceblue;
}

.navbar {
  opacity: 0.6;
}

.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-list .item {
    max-width: 20%;
    height: 15%;
} 
